@model rh.Models.Collaborateur

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Collaborateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationalite" class="control-label"></label>
                <input asp-for="Nationalite" class="form-control" />
                <span asp-validation-for="Nationalite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" class="form-control" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEmbauche" class="control-label"></label>
                <input asp-for="DateEmbauche" class="form-control" />
                <span asp-validation-for="DateEmbauche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addresse" class="control-label"></label>
                <input asp-for="Addresse" class="form-control" />
                <span asp-validation-for="Addresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville" class="control-label"></label>
                <input asp-for="Ville" class="form-control" />
                <span asp-validation-for="Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostal" class="control-label"></label>
                <input asp-for="CodePostal" class="form-control" />
                <span asp-validation-for="CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFixe" class="control-label"></label>
                <input asp-for="NumeroFixe" class="form-control" />
                <span asp-validation-for="NumeroFixe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroPortable" class="control-label"></label>
                <input asp-for="NumeroPortable" class="form-control" />
                <span asp-validation-for="NumeroPortable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoSecu" class="control-label"></label>
                <input asp-for="NoSecu" class="form-control" />
                <span asp-validation-for="NoSecu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
